@font-face {
   font-family: 'Roboto';
   font-display: swap;
   font-style: normal;
   font-weight: 400;
   src: url('../fonts/roboto-v30-latin_cyrillic-regular.woff2') format('woff2'),
   url('../fonts/roboto-v30-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
   font-family: 'Roboto';
   font-display: swap;
   font-style: normal;
   font-weight: 500;
   src: url('../fonts/roboto-v30-latin_cyrillic-500.woff2') format('woff2'),
   url('../fonts/roboto-v30-latin_cyrillic-500.woff') format('woff');
}

@font-face {
   font-family: 'Roboto';
   font-display: swap;
   font-style: normal;
   font-weight: 700;
   src: url('../fonts/roboto-v30-latin_cyrillic-700.woff2') format('woff2'),
   url('../fonts/roboto-v30-latin_cyrillic-700.woff') format('woff');
}

html {
   height: 100%;
   scroll-behavior: smooth;
}

* {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

body {
   display: flex;
   flex-direction: column;
   height: 100%;
   margin: 0;
   padding: 0;
   font-size: 16px;
   font-family: "Roboto", "Arial", sans-serif;
   overflow-x: hidden;
}

.main {
   flex-grow: 1;
}

:root {
   --dark-gray: #333333;
   --black: #000000;
   --white: #FFFFFF;
}

img {
   display: block;
   height: 100%;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   padding: 0;
   overflow: hidden;
   border: 0;
   clip: rect(0 0 0 0);
}

.container {
   max-width: 1300px;
   margin: 0 auto;
   padding: 0 20px;
}

.modal-container {
   max-width: 561px;
   margin: 0 auto;
   padding: 0 30px;
}

ul, ol {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p {
   margin: 0;
}

button {
   border: none;
   background: none;
}

/* HEADER START */

.header {
   width: 100%;
   background-image: url("./../images/header-bg.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}

.header-wrapper {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   padding-top: 45px;
   padding-bottom: 45px;
}

.header-list {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.header-item:not(:last-child) {
   margin-right: 40px;
}

.header-link {
   border: none;
   background: none;
   font-weight: 700;
   font-size: 12px;
   line-height: 14px;
   letter-spacing: 1px;
   text-transform: uppercase;
   text-decoration: none;
   color: var(--dark-gray);
   transition: all 0.1s ease;
   cursor: pointer;
}

.header-link:hover {
   color: var(--white);
}

/* MAIN START */

.main {
   
}

.hero {
   background-image: url("./../images/header-bg.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}

.hero-inner {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   padding-left: 40px;
}

.hero-text-wrapper {
   width: 464px;
}

.create-hero-text-wrapper {
   width: 372px;
   margin-right: 82px;
}

.hero-heading {
   font-size: 64px;
   line-height: 75px;
   color: var(--black);
   margin-bottom: 24px;
}

.hero-text {
   line-height: 24px;
   margin-bottom: 50px;
}

.hero-link {
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   letter-spacing: 1px;
   text-decoration: none;
   color: var(--white);
   background-color: #0A775F;
   border-radius: 100px;
   padding: 16px 24px;
   cursor: pointer;
}

.hero-link:hover {
   -webkit-box-shadow: inset 0 0 10px 4px #066450;
   box-shadow: inset 0 0 10px 4px #066450;
}

.hero-link:active {
   -webkit-box-shadow: inset 0 0 5px 4px #066450;
   box-shadow: inset 0 0 5px 4px #066450;
   background-color: #039a79;
}

.hero-img-wrapper {
   position: relative;
   width: 710px;
   height: 596px;
   margin-right: -20px;
   background-image: url("../images/hero-img.jpg");
   background-size: cover;
   background-repeat: no-repeat;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
   
   .hero-img-wrapper {
      background-image: url("./../images/hero-bg@2x.jpg");
   }
}

.hero-img-wrapper::before {
   position: absolute;
   top: 0;
   left: 0;
   -webkit-transform: translate(-43%, -40%);
   -ms-transform: translate(-43%, -40%);
   transform: translate(-43%, -40%);
   content: "";
   display: inline-block;
   width: 160px;
   height: 160px;
   background-image: url("./../images/hero-coin.png");
   background-repeat: no-repeat;
   background-size: contain;
}

/* ABOUT PAGE START */

.about-hero-img-wrapper {
   position: relative;
   width: 710px; 
   height: 592px;
   background-image: url("../images/about-bg.jpg");
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
   
   .about-hero-img-wrapper {
      background-image: url("../images/about-bg@2x.jpg");
   }
}

.about-hero-img-wrapper::before {
   position: absolute;
   top: -62px;
   left: -68px;
   content: "";
   width: 160px;
   height: 160px;
   background-image: url("./../images/hero-coin.png");
   background-repeat: no-repeat;
   background-size: contain;
}

/* CREATE PLAN START */

.create-img-wrapper {
   position: relative;
   width: 710px;
   height: 596px;
   background-image: url("../images/capucino.jpg");
   background-size: contain;
}

.create-img-wrapper::before {
   position: absolute;
   top: 0;
   left: 0;
   -webkit-transform: translate(-43%, -40%);
   -ms-transform: translate(-43%, -40%);
   transform: translate(-43%, -40%);
   content: "";
   display: inline-block;
   width: 160px;
   height: 160px;
   background-image: url("./../images/hero-coin.png");
   background-repeat: no-repeat;
   background-size: contain;
}

/* MODAL START */
.overlay {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 10;
   width: 100%;
   height: 100%;
   padding-top: 70px;
   background-color: #00000080;
   display: none;
}

.modal-open {
   display: block;
}

.overlay-modal {
   position: relative;
   top: -500px;
   width: 561px;
   margin: 0 auto;
   background-color: #F8F8F2;
   padding-bottom: 1px;
   
   animation-name: animation;
   animation-duration: 1s;
   animation-fill-mode: forwards;
}

@keyframes animation {
   0% {
      
   }
   
   50% {
      
   }
   
   100% {
      top: 0;
   }
}

.modal-window-animation {
   
}

.overlay-modal-heading {
   font-size: 44px;
   line-height: 52px;
   color: #FFFFFF;
   background-color: #C99B67;
   padding: 19px 30px;
   text-transform: uppercase;
   margin-right: -30px;
   margin-left: -30px;
   margin-bottom: 40px;   
}

.overlay-modal-text {
   font-weight: 500;
   font-size: 24px;
   line-height: 34px;
   margin-bottom: 10px;
}

.overlay-modal-markeds {
   color: #0A775F;
}

.overlay-modal-text-end {
   font-size: 18px;
   line-height: 26px;
   color: var(--dark-gray);
   margin-bottom: 40px;
}

.overlay-modal-bottom {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 40px;
}

.overlay-modal-price {
   font-weight: 500;
   font-size: 24px;
   line-height: 28px;   
}

.overlay-modal-btn {
   cursor: pointer;
   border: none;
   background: none;
   display: inline-block;
   font-weight: 500;
   font-size: 20px;
   line-height: 23px;
   text-align: center;
   letter-spacing: 1px;
   color: #fff;
   border-radius: 100px;
   background-color: #0A775F;
   padding: 16px 24px;
}  

/* COLLECTION START */

.collection {
   position: relative;
   padding: 20px;
}

.collection-wrapper {
   padding: 50px;
   background-image: url("./../images/collection-bg.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}

.collection-inner {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
}

.collection-heading {
   text-align: center;
   font-size: 50px;
   line-height: 59px;
   color: var(--black);
   margin-bottom: 80px;
}

.collection-list {
   padding: 0;
   width: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.collection-item {
   width: 1014px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.collection-item:nth-child(2) {
   padding-left: 120px;
}

.collection-item:nth-child(4) {
   padding-left: 150px;
}

.collection-item:first-of-type::before {
   position: absolute;
   top:  calc(50% - 815px);
   left: calc(50% - 718px);
   content: "";
   width: 231px;
   height: 371px;
   background-image: url("./../images/danche.svg");
   background-repeat: no-repeat;
   background-size: contain;
}

.collection-item:nth-child(2)::before {
   position: absolute;
   top: calc(50% - 160px);
   right: calc(50% - 867px);
   content: "";
   width: 392px;
   height: 400px;
   background-image: url("./../images/piccolo.svg");
   background-repeat: no-repeat;
   background-size: contain;
}

.collection-item:nth-child(4)::before {
   position: absolute;
   bottom: calc(50% - 680px);
   left: calc(50% - 802px);
   content: "";
   width: 316px;
   height: 269px;
   background-image: url("./../images/planalto.svg");
   background-repeat: no-repeat;
   background-size: contain;
}

.collection-item-text-wrapper {
   width: 390px;
}

.collection-item-text-wrapper:nth-child(1) {
   margin-right: 64px;
}

.collection-item-text-wrapper:nth-child(2) {
   margin-left: 67px;
}

.collection-item-text-wrapper:nth-child(3) {
   margin-right: 67px;
}

.collection-item-text-wrapper:nth-child(4) {
   margin-left: 117px;
}

.collection-item-title {
   font-weight: 500;
   font-size: 48px;
   line-height: 56px;
   color: var(--dark-gray);
   margin-bottom: 10px;
}

.collection-item-subtitle {
   font-size: 22px;
   line-height: 34px;
   color: var(--dark-gray);
}

/* QUESTION START */

.question {
   padding-bottom: 270px;
}

.question-inner {
   padding-top: 50px;
   text-align: center;
   background-image: url("../images/question-bg.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   position: relative;
}

.question-text-wrapper {
   width: 546px;
   margin-bottom: 500px;
}

.question-heading {
   font-size: 50px;
   line-height: 59px;
   color: var(--white);
   margin-bottom: 10px;
}

.question-text {
   line-height: 28px;
   color: var(--white);
}

.question-list {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center; 
   padding-left: 30px;
   padding-right: 30px;
   position: absolute;
   bottom: 0;
   -webkit-transform: translateY(200px);
   -ms-transform: translateY(200px);
   transform: translateY(200px);
}

.question-item {
   text-align: left;
   position: relative;
}

.question-item:first-child:before {
   position: absolute;
   top: 0;
   left: 0;
   -webkit-transform: translate(-35%, -35%);
   -ms-transform: translate(-35%, -35%);
   transform: translate(-35%, -35%);
   content: "";
   width: 140px;
   height: 144px;
   background-image: url("../images/question-before.svg");
   background-repeat: no-repeat;
   background-size: contain;
}

.question-item:nth-child(2) {
   margin-right: 12px;
}

.question-item-img {
   height: 450px;
   margin-bottom: 28px;
}

.question-item-title {
   font-weight: 500;
   font-size: 30px;
   line-height: 35px;
   color: var(--dark-gray);
   margin-bottom: 10px;
}

.question-item-subtitle {
   font-size: 18px;
   line-height: 28px;
   color: var(--dark-gray);
}

/* PLAN START */

.plan {
   padding-bottom: 50px;
}

.plan-inner {
   background-image: url("../images/plan-bg.jpg");
   background-size: contain;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   padding: 50px 31px;
   
}

.plan-heading {
   font-size: 50px;
   line-height: 59px;
   color: #FFFFFF;
   margin-bottom: 80px;
}

.plan-step-list {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

.plan-step-item {
   width: 393px;
}

.plan-step-img {
   position: relative;
   margin-bottom: 20px;
}

.plan-step-img::before {
   content: "";
   display: inline-block;
   width: 40px;
   height: 40px;
   background-color: #FEFCF7;
   border: 4px solid #C99B67;
   z-index: 1;
}

.plan-step-img::after {
   content: "";
   position: absolute;
   top: 50%;
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
   display: inline-block;
   width: 100%;
   height: 4px;
   background-image: url("../images/plan-step.svg");
}

.plan-step-item:last-child .plan-step-img::after {
   display: none;
}

.plan-list {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   margin-bottom: 60px;
}

.plan-item {
   width: 380px;
   background-color: #F8F8F2;
   padding: 20px 20px 40px 20px;
}

.plan-item-number {
   font-size: 64px;
   line-height: 75px;
   color: var(--dark-gray);
   text-align: right;
   opacity: 0.8;
   margin-bottom: 45px;
}

.plan-item:nth-child(2) {
   margin-left: 20px;
   margin-right: 20px;
}

.plan-item-heading {
   font-weight: 500;
   font-size: 40px;
   line-height: 47px;
   color: var(--dark-gray);
   margin-bottom: 10px;
}

.plan-item-text {
   font-size: 18px;
   line-height: 28px;
   color: var(--dark-gray);
}

.plan-item-link {
   font-weight: 500;
   line-height: 19px;
   text-align: center;
   letter-spacing: 1px;
   color: #FFFFFF;
   padding: 16px 24px;
   background-color: #C99B67;
   border-radius: 100px;
   cursor: pointer;
}

.plan-item-link:hover {
   background-color: #c9a47b;
}

/* CREATE PLAN START */
.create-plan {
   padding-top: 20px;
}

.create-plan-inner {
   background-image: url("../images/plan-bg.jpg");
   background-size: contain;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   padding: 60px 30px;
}

.create-plan-step-list {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

.create-plan-step-item {
   width: 393px;
}

.create-plan-step-item:last-child .create-plan-step-img::after {
   display: none;
}

.create-plan-step-img {
   position: relative;
   margin-bottom: 20px;
}

.create-plan-step-img::before {
   content: "";
   display: inline-block;
   width: 40px;
   height: 40px;
   background-color: #FEFCF7;
   border: 4px solid #C99B67;
   z-index: 1;
}

.create-plan-step-img::after {
   content: "";
   position: absolute;
   top: 50%;
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
   display: inline-block;
   width: 100%;
   height: 4px;
   background-image: url("../images/plan-step.svg");
}

.create-plan-list {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

.create-plan-item {
   width: 380px;
   background-color: #F8F8F2;
   padding: 20px 20px 40px 20px;
}

.create-plan-item:nth-child(2) {
   margin-left: 20px;
   margin-right: 20px;
}

.create-plan-item-number {
   font-size: 64px;
   line-height: 75px;
   color: var(--dark-gray);
   text-align: right;
   opacity: 0.8;
   margin-bottom: 45px;
}

.create-plan-item-heading {
   font-weight: 500;
   font-size: 40px;
   line-height: 47px;
   color: var(--dark-gray);
   margin-bottom: 10px; 
}

.create-plan-item-text {
   font-size: 18px;
   line-height: 28px;
   color: var(--dark-gray);
}
/* FEEDBACK START */
.feedback {
   margin: 20px 20px 50px 20px;
   background-image: url("../images/collection-bg.jpg");
   background-size: cover;
}

.feedback-inner {
   display: flex;
   justify-content: space-between;  
   padding-top: 50px;
   padding-bottom: 50px;
}

.feedback-start-list {
   
}

.feedback-start-item {
   
}

.feedback-start-item:not(:last-child) {
   margin-bottom: 35px;
}

.feedback-start-link {
   font-weight: 500;
   font-size: 28px;
   line-height: 33px;
   color: #555555;
   text-decoration: none;
}

.feedback-start-link-active {
   color: #000000;
   background-image: url("../images/create-dashed.svg");
   background-repeat: no-repeat;
   background-position: bottom;
}

.feedback-list {
   margin-right: 100px;
}

.feedback-item {
   width: 660px;
}

.feedback-item:not(:last-child) {
   margin-bottom: 60px;
}

.feedback-det {
   
}

.feedback-sum {
   list-style-type: none;
   font-weight: 700;
   font-size: 35px;
   line-height: 47px;
   margin-bottom: 20px;
   background-image: url("../images/dropdown.svg");
   background-repeat: no-repeat;
   background-position: right center;
   cursor: pointer;
   text-transform: uppercase;
}

.feedback-sum:not(:last-child) {
   margin-bottom: 60px;
}

.feedback-det-box {
   display: flex;
   margin-bottom: 60px;
}

.feedback-lab {
   width: 208px;
   height: 220px;
   background-color: #C3D9CB;
   padding: 30px 14px;
   cursor: pointer;
}

.feedback-lab:hover {
   background-color: #0A775F;
   color: #fff;
}
.feedback-lab:hover .feedback-span {
   color: #fff;
}

.feedback-lab:nth-child(2) {
   margin-right: 18px;
   margin-left: 18px;
}

.feedback-inp {
   display: none;
}

.feedback-span {
   color: var(--dark-gray); 
}

.feedback-str {
   font-size: 24px;
   line-height: 28px;
}

.feedback-span-text {
   font-size: 18px;
   line-height: 24px;
   margin-top: 10px;
}

.feedback-end-text-box {
   width: 660px;
   padding: 40px 20px;
   color: #FFFFFF;
   background-color: #C99B67;
   margin-top: 40px;
   margin-bottom: 20px;
}

.feedback-end-text-top {
   line-height: 19px;
   text-transform: uppercase;
   margin-bottom: 14px;
   display: block;
}

.feedback-end-text {
   font-weight: 500;
   font-size: 24px;
   line-height: 34px;
}

.feedback-end-text-markeds {
   color: var(--dark-gray);
}

.create-btn {
   color: var(--white);
   background-color: #0A775F;
   border-radius: 100px;
   padding: 16px 24px;
   text-align: center;
   margin-left: 76%;
   cursor: pointer;
}

.create-btn:hover {
   background-color: #09a382;
}

.create-btn:active {
   background-color: #09a382a5;
}

/* FOOTER START */

.footer {
   background-image: url("../images/header-bg.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}

.footer-inner {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   padding-top: 65px;
   padding-bottom: 65px;
}

.footer-list {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.footer-item:nth-child(2) {
   margin-right: 40px;
   margin-left: 40px;
}

.footer-link {
   font-weight: 700;
   line-height: 19px;
   letter-spacing: 1px;
   text-transform: uppercase;
   text-decoration: none;
   color: var(--dark-gray);
   transition: all 0.1s ease;
}

.footer-link:hover {
   color: var(--white);
}

.footer--list {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.footer-net-item:nth-child(2) {
   margin-right: 40px;
   margin-left: 40px;
}

.footer-net-link {
   color: var(--dark-gray);
}

.footer-net-link:hover {
   color: var(--white);
}

/* ABOUT PAGE START */
.about-hero-text-wrapper {
   width: 372px;
}
/* COMMITMENT START */
.commitment {
   position: relative;
   padding: 20px;
}

.commitment-wrapper {
   background-image: url("./../images/collection-bg.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}

.commitment-wrapper::before {
   position: absolute;
   top: calc(50% - 310px);
   left: calc(50% - 745px);
   content: "";
   width: 402px;
   height: 300px;
   background-image: url("./../images/danche.svg");
   background-repeat: no-repeat;
   background-size: contain;
}

.commitment-inner {
   display: flex;
   align-items: center;
   padding-top: 140px;
   padding-bottom: 180px;
}

.commitment-img {
   margin-right: 110px;
   margin-left: 115px;
}

.commitment-text-wrapper {
   width: 600px;
}

.commitment-heading {
   font-size: 48px;
   line-height: 56px;
   margin-bottom: 24px;
}

.commitment-text {
   font-size: 18px;
   line-height: 30px;
   color: var(--dark-gray);
}

/* QUALITY START */

.quality {
   padding-top: 140px;
   padding-right: 20px;
   padding-bottom: 20px;
   padding-left: 20px;
}

.quality-wrapper {
   background-image: url("./../images/question-bg.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}

.quality-inner {
   position: relative;
   padding: 100px 80px 118px 80px;
}

.quality-text-wrapper {
   width: 600px;
}

.quality-heading {
   font-size: 50px;
   line-height: 59px;
   color: #FFFFFF;
   margin-bottom: 24px;
}

.quality-text {
   font-size: 18px;
   line-height: 30px;
   color: #FFFFFF;
}

.quality-img {
   position: absolute;
   top: -80px;
   right: 0;
   width: 480px;
   height: 430px;
}

/* QUARTERS START */

.quarters {
   padding-top: -20px;
   padding-right: 20px;
   padding-bottom: 40px;
   padding-left: 20px;
}

.quarters-wrapper {
   background-image: url("./../images/plan-bg.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}

.quarters-inner {
   padding: 50px 10px 100px 10px;
}

.quarters-heading {
   font-size: 50px;
   line-height: 59px;
   text-align: center;
   color: #FFFFFF;
   margin-bottom: 80px;
}

.quarters-list {
   display: flex;
   justify-content: space-between;
}

.quarters-item {
   position: relative;
   width: 400px;
   background-color: #F8F8F2;
   padding: 140px 20px 30px 20px;
}

.quarters-item::before {
   position: absolute;
   top: 45px;
   right: 55px;
   content: "";
   width: 120px;
   height: 143px;
   background-repeat: no-repeat;
   background-size: contain;
}

.quarters-item:nth-child(1)::before {
   background-image: url("../images/uk.svg");
}

.quarters-item:nth-child(2)::before {
   background-image: url("../images/canada.svg");
}

.quarters-item:nth-child(3)::before {
   background-image: url("../images/australia.svg");
}

.quarters-item-text-wrapper {
   width: 231px;
}

.quarters-item:nth-child(2) {
   margin-right: 20px;
   margin-left: 20px;
}

.quarters-item-heading {
   font-weight: 500;
   font-size: 40px;
   line-height: 47px;
   margin-bottom: 10px;
}

.quarters-item-text {
   font-size: 18px;
   line-height: 28px;
   color: var(--dark-gray);
}

.quarters-tel {
   text-decoration: none;
}